*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    font-family:'Rubik', sans-serif;
}

.logo img{
   height: 6rem;
   position: absolute; 
   top: 0;
   left:10px;
 }
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.links .active a {
    background-color: #219EBC;
    color: #ffffff;
    /* padding: 1rem 1rem; */
    border: none;
    outline: none;
    border-radius:30px;
    /* scale:1.05; */
    transform: translateY(-0.25em );
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #219EBC;
  }
.links a{
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem 1rem;
}
.links a:hover{
    background-color: #219EBC;
    color: #ffffff;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius:30px;
    scale:1.05;
    transform: translateY(-0.25em );
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #219EBC;
}
 header{
    position: relative;
    padding: 0.5rem 0.1rem;
    border-bottom:0.01rem solid white;
 }
 .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.navbar .links{
    display: flex;
    gap: 5rem;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
#hr1{
    margin-left: 10rem;
}
/* dropdown menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(33, 158, 188, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li a{
    color: #ffffff;
}


/* responsive design */
@media(max-width:992px){
 .navbar .links{
    display: none;
 }
 .navbar .toggle_btn{
    display: block;
 }

 .dropdown_menu{
    display: block;
 }
}
@media(max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}
@media(max-width:414px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

  /* identitycard */
.row2{
    display: flex;
    flex-wrap: wrap;
    padding: 2em 10em;
    text-align: center;
}
.column{
    width: 100%;
    padding: 0.5em 0;
    margin-top: 10px;
}
#team{
    width: 100%;
    text-align: center;
    font-size: 42px;
    color:white;
    padding-bottom: 0px;
}

.card{
    /* box-shadow: 0 0 2em #219EBC; */
    border-radius: 0.6em ;
    color: #efefef;
    cursor: pointer;
    transition: 0.3s;
    background-color: #efefef;
}
.card .img-container{
    width: 3em;
    height: 3em;
    padding: 0px 100px 5px 0px;
    border-radius: 50%;
    margin: 0 auto 3.5em auto;
}

.card img{
    width: 100px;
    height:100px ;
    border-radius: 50%;
}
.card h3{
    font-weight: 500;
    color: #000;
}
.card p{
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
    color: #000;
}
.icons{
    width: 50%;
    min-width: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.card a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}
.card:hover{
    background: #219EBC;
}
/* .column1{
    width: 100%;
    padding: 0.5em 0;
    margin-top: 10px;
} */

@media  screen and (min-width:770px) {
    section{
        padding: 1em 7em;
    }
}
@media  screen and (min-width:992px) {
    section{
        padding: 1em ;
    }
    .card{
        padding: 5em 1em;
    }
    .column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}
@media  screen and (max-width:600px) {


    .card{
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left:  2em;

    }
    .column{
        width: 100%;
    }
    
}


 /* footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #01172e ;
    padding: 40px 0;
}
.footer-col{
   width: 45%;
   padding: 0 45px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
